body{
  text-align: center;
  font-size: 2em;
  background: #23b90f;
}
h1{
  text-decoration: underline;
}
h2 span{
  padding:1%;
  border: 2px solid black;
}
input{
  width: 15%;
  height: 5vh;
}
button{
  height: 5vh;
}


.winner{
  color:green;
}